In [1]:
# Dependencies and Setup

import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [2]:
# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"


# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [3]:
# Combine the data into a single dataset

frames = [mouse_metadata, study_results]


# Display the data table for preview

combined_df = pd.concat(frames)
combined_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21.0,16.0,NaN,NaN,NaN
1,s185,Capomulin,Female,3.0,17.0,NaN,NaN,NaN
2,x401,Capomulin,Female,16.0,15.0,NaN,NaN,NaN
3,m601,Capomulin,Male,22.0,17.0,NaN,NaN,NaN
4,g791,Ramicane,Male,11.0,16.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1888,r944,NaN,NaN,NaN,NaN,45.0,41.581521,2.0
1889,u364,NaN,NaN,NaN,NaN,45.0,31.023923,3.0
1890,p438,NaN,NaN,NaN,NaN,45.0,61.433892,1.0
1891,x773,NaN,NaN,NaN,NaN,45.0,58.634971,4.0
1892,b879,NaN,NaN,NaN,NaN,45.0,72.555239,2.0

In [4]:
# Checking the number of mice.

combined_df["Mouse ID"].value_counts()

g989    14
r604    11
k894    11
j913    11
m957    11
        ..
n482     2
o848     2
h428     2
d133     2
f932     2
Name: Mouse ID, Length: 249, dtype: int64

In [13]:
# Checking duplicated mice with time point

duplicate_mouse = combined_df[combined_df.duplicated(["Mouse ID", "Timepoint"],keep = False)]
duplicate_mouse_id= duplicate_mouse["Mouse ID"].unique()
dup_mouse_id=(duplicate_mouse_id[0])

In [16]:
combined_df = (combined_df.loc[combined_df["Mouse ID"] != dup_mouse_id,:])

In [17]:
# Checking the new dataframe for dropped duplicates
combined_df["Mouse ID"].value_counts()

z795    11
d251    11
m957    11
j913    11
c757    11
        ..
x226     2
h428     2
l872     2
o848     2
n482     2
Name: Mouse ID, Length: 248, dtype: int64